<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_form_sign.css">
    <script src="https://kit.fontawesome.com/cfc53f8179.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <link rel="icon" href="favicon.ico" />
    <script type="text/javascript" src="js/script.js"></script>
    <title>Mady&Co | Page Introuvable</title>
</head>
<body>
    <div class="container">
        <img src="img/logo_mady_small.svg" class="logo">
        <header>Page Introuvable</header>
    </div>
</body>
</html>