<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_form_sign.css">
    <script src="https://kit.fontawesome.com/cfc53f8179.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <link rel="icon" href="./favicon.ico" />
    <script type="text/javascript" src="js/script.js"></script>

    <title>Mady&Co | Recuperation Commande</title>
</head>
<body>
    <div id="header">

        <div class="top">
            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><i class="far fa-user"></i></span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <form action="/" method="POST" id="form_home">
                        <li><a href="#home" id="top-link" onclick="document.getElementById('form_home').submit()"><span class="icon solid fa-home">Accueil</span></a></li>
                    </form>
                </ul>
            </nav>
        </div>



    </div>
    <div>
        <h1>Récuperation Commande</h1>
    </div>
    

		<!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.scrolly.min.js"></script>
        <script src="js/jquery.scrollex.min.js"></script>
        <script src="js/browser.min.js"></script>
        <script src="js/breakpoints.min.js"></script>
        <script src="js/util_home.js"></script>
        <script src="js/main_home.js"></script>
</body>

</html>
